includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - ./src
    ignoreErrors:
        - '{Only booleans are allowed in .+}'
        - '{Call to function assert\(\) with .* will always evaluate to true.}'
        -
            # phpstan gets tons wrong here, mostly because read changes the return value of peek()
            path: src/Parser.src.php
            message: '{is unreachable|will always evaluate|always terminates|is always (true|false)}'
        -
            # seems to be a phpstan bug
            path: src/Parser.src.php
            message: '{Switch condition type \(162\) does not match case condition .* \(int\).$}'
        -
            path: src/_optimized/
            message: '{}'
        -
             # TODO fix?
            path: src/Nodes/Generated/
            message: '{^Unsafe usage of new static\(\).$}'
        -
            # TODO figure out how to annotate this
            message: '{does not accept .*NodesList}'
            path: src/Nodes/Generated/
